ul {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
  color: white;
  width: 70%;
}

.todo_list_compont{
  margin: 24px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
